* {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}
body {
  height: 100%;
  overflow: hidden;
  background-color: #000;
  &.is-focus-sphere {
    cursor: pointer;
    h1 {
      cursor: pointer;
    }
  }
}

h1 {
  width: 100%;
  display: table;
  cursor: default;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  font-size: 6vh;
  font-family: 'Hammersmith One', sans-serif;
  color: #fff;
  span {
    display: table-cell;
    padding: 1em;
    text-align: center;
  }
}
